<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container">
  <mat-card>
    <mat-card-title class="m-b-16">{{ 'labels.heading.Create Merchant' | translate }}</mat-card-title>

    <mat-card-content>
      <form [formGroup]="merchantForm">
        <div class="layout-row gap-20px responsive-column">
          <mat-form-field class="flex-fill">
            <mat-label>{{ 'labels.inputs.Merchant Code' | translate }}</mat-label>
            <input matInput formControlName="code" required />
            <mat-error>{{ 'labels.inputs.Required' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field class="flex-fill">
            <mat-label>{{ 'labels.inputs.Merchant Name' | translate }}</mat-label>
            <input matInput formControlName="name" required />
          </mat-form-field>
        </div>

        <div class="layout-row gap-20px responsive-column">
          <mat-form-field class="flex-fill">
            <mat-label>{{ 'labels.inputs.MCC' | translate }}</mat-label>
            <input matInput formControlName="mcc" required />
            <mat-error>{{ 'labels.inputs.MCC Four Digits' | translate }}</mat-error>
          </mat-form-field>

          <mat-form-field class="flex-fill">
            <mat-label>{{ 'labels.inputs.Segment' | translate }}</mat-label>
            <mat-select formControlName="segment">
              <mat-option value="UMI">UMI</mat-option>
              <mat-option value="UKE">UKE</mat-option>
              <mat-option value="UME">UME</mat-option>
              <mat-option value="UBE">UBE</mat-option>
              <mat-option value="PENDIDIKAN">PENDIDIKAN</mat-option>
              <mat-option value="SPBU">SPBU</mat-option>
              <mat-option value="BLU_PSO">BLU_PSO</mat-option>
              <mat-option value="DONASI">DONASI</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="flex-fill">
            <mat-label>{{ 'labels.inputs.Location' | translate }}</mat-label>
            <input matInput formControlName="location" />
          </mat-form-field>
        </div>

        <div class="layout-row gap-20px responsive-column">
          <mat-form-field class="flex-fill">
            <mat-label>{{ 'labels.inputs.Cap Amount' | translate }}</mat-label>
            <input matInput type="number" formControlName="capAmount" />
          </mat-form-field>

          <mat-form-field class="flex-fill">
            <mat-label>{{ 'labels.inputs.Settlement Account' | translate }}</mat-label>
            <input matInput formControlName="settlementAccount" />
          </mat-form-field>

          <mat-form-field class="flex-fill">
            <mat-label>{{ 'labels.inputs.Agent ID' | translate }}</mat-label>
            <input matInput type="number" formControlName="agentId" />
          </mat-form-field>

          <div class="in-block">
            <mat-checkbox formControlName="shariaCompliant">{{ 'labels.inputs.Sharia' | translate }}</mat-checkbox>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="layout-row align-end gap-20px m-t-20">
    <button mat-raised-button [routerLink]="['../']">{{ 'labels.buttons.Cancel' | translate }}</button>
    <button mat-raised-button color="primary" [disabled]="!merchantForm.valid" (click)="submit()">
      {{ 'labels.buttons.Submit' | translate }}
    </button>
  </div>
</div>
