<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container m-t-20">
  <form [formGroup]="filterForm" class="layout-row gap-20px">
    <mat-form-field>
      <mat-label>{{ 'labels.inputs.Type' | translate }}</mat-label>
      <mat-select formControlName="type">
        <mat-option value="ALL">{{ 'labels.text.All' | translate }}</mat-option>
        <mat-option value="SALE">SALE</mat-option>
        <mat-option value="VOID">VOID</mat-option>
        <mat-option value="REFUND">REFUND</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="mat-elevation-z8 table-container">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Reference' | translate }}</th>
        <td mat-cell *matCellDef="let txn">{{ txn.reference }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Type' | translate }}</th>
        <td mat-cell *matCellDef="let txn">{{ txn.type }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Amount' | translate }}</th>
        <td mat-cell *matCellDef="let txn">{{ txn.amount | number: '1.2-2' }}</td>
      </ng-container>

      <ng-container matColumnDef="mdrAmount">
        <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.MDR Amount' | translate }}</th>
        <td mat-cell *matCellDef="let txn">{{ txn.mdrAmount | number: '1.2-2' }}</td>
      </ng-container>

      <ng-container matColumnDef="merchantNet">
        <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Merchant Net' | translate }}</th>
        <td mat-cell *matCellDef="let txn">{{ txn.merchantNet | number: '1.2-2' }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Status' | translate }}</th>
        <td mat-cell *matCellDef="let txn">{{ txn.status }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
