<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<mat-card class="card">
  <mat-card-content>
    <h3 class="chart-title">
      <fa-icon icon="chart-line"></fa-icon>
      &nbsp;&nbsp; {{ 'labels.text.Payment Traffic' | translate }}
    </h3>
    <div [style.display]="hideOutput ? 'none' : 'block'">
      <canvas id="payment-traffic-chart" width="800" height="380"></canvas>
    </div>
  </mat-card-content>
</mat-card>
